@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Raleway:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
  font-size: 62.5%;
  color: #ab9178;
  font-family: "Raleway", sans-serif; }
  * a {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: #ab9178;
    font-size: 1.6rem; }
  * h1 {
    font-size: 4rem; }
  * h2 {
    font-size: 3rem; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #333333;
  /*-------------HEADER END------------------------*/ }
  body header {
    height: 30rem;
    background-color: #333333;
    opacity: 1; }
    body header #logo-header {
      padding-top: 2rem;
      text-align: center; }
    body header .main-nav ul {
      display: flex;
      justify-content: center;
      margin: 2.5rem 0;
      padding: 0; }
      body header .main-nav ul li {
        display: block;
        margin: 0 1.5rem; }
        body header .main-nav ul li a {
          font-size: 3rem;
          padding: .5rem;
          border-radius: .5rem;
          -webkit-transition: 400ms;
          -moz-transition: 400ms;
          -ms-transition: 400ms;
          -o-transition: 400ms;
          transition: 400ms; }
        body header .main-nav ul li a:hover {
          color: #333333;
          background-color: #ab9178; }
    body header .burger {
      display: none; }
    body header .mobile-nav {
      display: none; }
  body header.active {
    height: 13rem;
    background-color: #ab9178;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0rem 0rem 1rem 1rem;
    opacity: .9; }
    body header.active #logo-header {
      width: 25rem;
      height: 100%;
      padding: 0;
      background-image: url(../../img/logo_dark.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; }
      body header.active #logo-header a {
        display: block;
        width: 100%;
        height: 100%; }
        body header.active #logo-header a img {
          display: none; }
    body header.active .main-nav a {
      color: #333333; }
    body header.active .main-nav a:hover {
      color: #ab9178;
      background-color: #333333; }
  body .main-wrapper .contact-welcome-wrapper {
    width: 100%;
    display: flex;
    align-items: center; }
    body .main-wrapper .contact-welcome-wrapper .contact-welcome-msg {
      width: 50%;
      margin: 3rem; }
      body .main-wrapper .contact-welcome-wrapper .contact-welcome-msg .page-title {
        text-transform: uppercase;
        letter-spacing: .3rem;
        font-family: "Dancing Script", cursive;
        width: fit-content; }
      body .main-wrapper .contact-welcome-wrapper .contact-welcome-msg .page-title::after {
        content: "";
        width: 8rem;
        height: .2rem;
        background-color: #ab9178;
        display: block;
        margin: 0 auto; }
      body .main-wrapper .contact-welcome-wrapper .contact-welcome-msg h2 {
        font-weight: 400; }
    body .main-wrapper .contact-welcome-wrapper .contact-welcome-pic {
      width: 50%;
      height: 60rem;
      background-image: url("../../img/about_us_wine.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative; }
    body .main-wrapper .contact-welcome-wrapper .contact-welcome-pic::after, body .main-wrapper .contact-welcome-wrapper .contact-welcome-pic::before {
      display: block;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
    body .main-wrapper .contact-welcome-wrapper .contact-welcome-pic::after {
      background: -moz-linear-gradient(90deg, #333333 15%, rgba(51, 51, 51, 0.2) 30%, rgba(51, 51, 51, 0.2) 74%, #333333 86%);
      background: -webkit-linear-gradient(90deg, #333333 15%, rgba(51, 51, 51, 0.2) 30%, rgba(51, 51, 51, 0.2) 74%, #333333 86%);
      background: linear-gradient(90deg, #333333 15%, rgba(51, 51, 51, 0.2) 30%, rgba(51, 51, 51, 0.2) 74%, #333333 86%); }
    body .main-wrapper .contact-welcome-wrapper .contact-welcome-pic::before {
      background: -moz-linear-gradient(180deg, #333333 0%, rgba(51, 51, 51, 0.2) 30%, rgba(51, 51, 51, 0.2) 70%, #333333 100%);
      background: -webkit-linear-gradient(180deg, #333333 0%, rgba(51, 51, 51, 0.2) 30%, rgba(51, 51, 51, 0.2) 70%, #333333 100%);
      background: linear-gradient(180deg, #333333 0%, rgba(51, 51, 51, 0.2) 30%, rgba(51, 51, 51, 0.2) 70%, #333333 100%); }

/*# sourceMappingURL=contact_main.css.map */
