body{
    .main-wrapper{
        #about-us-page-wrapper{
            .container{
                .about-us-text{
                    padding: 15px;
                }
                .about-us-pic{
                    width: 45rem;
                    height: 70rem;
                }
            }
        }
    }
}