@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Raleway:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
$mainFont: 'Raleway', sans-serif;
$handWritten: 'Dancing Script', cursive;
$mainColor: rgba(51, 51, 51, 1);
$fontColor: rgba(171, 145, 120, 1);
*{
    font-size: 62.5%;
    color: $fontColor;
    a{
        font-family: $mainFont;
        text-decoration: none;
        color: $fontColor;
        font-size: 1.6rem;
    }
    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 3rem;
    }
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @import "partials/header";
    /*-------------HEADER END------------------------*/
    .main-wrapper{
        .page-title{
            text-transform: uppercase;
            letter-spacing: .3rem;
            text-align: center;
            display: flex;
            flex-direction: column;
            font-family: $handWritten;
        }
        .page-title::after{
            content: "";
            width: 8rem;
            height: .2rem;
            background-color: $fontColor;
            margin: .5rem auto;
        }
        #home-page-wrapper{
            position: relative;
            display: flex;
            background-color: $mainColor;
            padding: 15rem 0;
            #hp-welcome-message{
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                opacity: 0;
                h1, h2{
                    font-weight: 400;
                    font-family: $handWritten;
                    line-height: 2;
                    letter-spacing: .5rem;
                    text-align: center;
                }
                h1{
                    font-size: 4rem;
                    width: 80%;
                    max-width: 100%;
                }
                h2{
                    font-size: 2rem;
                }
            }
            #hp-welcome-image{
                background-image: url("../img/home_page_pic.jpg");
                background-size: cover;
                background-position: center;
                width: 40%;
                height: 90rem;
                margin: 1rem auto;
                border: 2px solid $fontColor;
                opacity: 0;
            }
        }
        #home-page-wrapper.active{
            #hp-welcome-message{
                opacity: 1;
                -webkit-transition: opacity 1s linear;
                -moz-transition: opacity 1s linear;
                -ms-transition: opacity 1s linear;
                -o-transition: opacity 1s linear;
                transition: opacity 1s linear;
            }
            #hp-welcome-image{
                opacity: 1;
                -webkit-transition: opacity 1s linear;
                -moz-transition: opacity 1s linear;
                -ms-transition: opacity 1s linear;
                -o-transition: opacity 1s linear;
                transition: opacity 1s linear;
            }
        }
        #home-page-wrapper::after{
            content: "";
            width: 50%;
            position: absolute;
            bottom: 0;
            left: 25%;
            height: 2px;
            background-color: $fontColor;
        }
        /*--------HOME PAGE END----------*/
        #about-us-page-wrapper{
            position: relative;
            padding: 15rem 0;
            background-color: $mainColor;
            .container{
                width: 80%;
                margin: 2rem auto;
                display: flex;
                .about-us-text{
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    p{
                        font-size: 2.5rem;
                        width: 55rem;
                        line-height: 1.5;
                        letter-spacing: .4rem;
                        text-align: center;
                    }
                }
                .about-us-pic{
                    width: 60rem;
                    height: 90rem;
                    margin: 0 auto;
                    border: 1px solid $fontColor;
                    background-size: cover;
                    background-repeat: no-repeat; 
                    background-position: center;
                    opacity: 0;
                }
                #about-us-first-pic{
                    background-image: url(../img/about_us_wine.jpg);
                }
                #about-us-second-pic{
                    background-image: url(../img/about_us_food.jpg);
                    height: 40rem;
                }
                #about-us-third-pic{
                    background-image: url(../img/about_us_coffe.jpg);
                }
            }
            .container.active{
                .about-us-pic{
                    opacity: 1;
                    -webkit-transition: opacity 800ms linear;
                    -moz-transition: opacity 800ms linear;
                    -ms-transition: opacity 800ms linear;
                    -o-transition: opacity 800ms linear;
                    transition: opacity 800ms linear;
                }
                .about-us-text{
                    opacity: 1;
                    -webkit-transition: opacity 800ms linear 300ms;
                    -moz-transition: opacity 800ms linear 300ms;
                    -ms-transition: opacity 800ms linear 300ms;
                    -o-transition: opacity 800ms linear 300ms;
                    transition: opacity 800ms linear 300ms;
                }
            }
        }
        #about-us-page-wrapper::after{
            content: "";
            width: 50%;
            position: absolute;
            bottom: 0;
            left: 25%;
            height: 2px;
            background-color: $fontColor;
        }
        /*--------ABOUT US PAGE END----------*/
        #gallery-wrapper{
            width: 100%;
            height: 90rem;
            background-color: $mainColor;
            padding: 15rem 0;
            overflow: hidden;
            h2{
                text-align: center;
                font-weight: 400;
            }
            @import 'partials/carousel';
        }
    }
    /*-------MAIN SECTION END--------*/
    footer{
        height: 20rem;
        width: 100%;
        background-color: $mainColor;
        padding: 5rem 0;
        .footer-info{
            width: 100%;
            margin: 0 auto;
            font-size: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            address{
                font-style: normal;
                margin: 0;
                width: 33%;
                text-align: right;
            }
            .footer-logo{
                background-image: url(../img/logo.svg);
                width: 34%;
                height: 7rem;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                margin: 0;
            }
            .footer-contact-info{
                font-size: 3rem;
                margin: 0;
                width: 33%;
            }
        }
        #footer-social-network{
            width: 50%;
            margin: 2rem auto;
            text-align: center;
            a{
                margin: 0 2rem;
                font-size: 3rem;
            }
        }
    }
}
@import "partials/keyframes";
@media only screen and (min-width: 300px) and (max-width: 1600px){
    body{
        .main-wrapper{
            #about-us-page-wrapper{
                .container{
                    width: 100%;
                }
            }
        }
    }
}