@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Raleway:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
$mainFont: 'Raleway', sans-serif;
$handWritten: 'Dancing Script', cursive;
$mainColor: rgba(51, 51, 51, 1);
$fontColor: rgba(171, 145, 120, 1);
*{
    font-size: 62.5%;
    color: $fontColor;
    a{
        font-family: $mainFont;
        text-decoration: none;
        color: $fontColor;
        font-size: 1.6rem;
    }
    h1{
        font-size: 4rem;
    }
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    header{
        height: 40rem;
        background-color: $mainColor;
        #logo-header{
            padding-top: 10rem;
            text-align: center;
        }
        nav{
            ul{
                
                display: flex;
                justify-content: center;
                margin: 2.5rem 0;
                padding: 0;
                li{
                    display: block;
                    margin: 0 1.5rem;
                    a{
                        font-size: 3rem;
                    }
                    a:hover{
                        color:  rgb(197, 167, 138);
                    }
                }
            }
        }
    }
    /*-------------HEADER END------------------------*/
    .main-wrapper{
        #home-page-wrapper{
            position: relative;
            display: flex;
            background-color: $mainColor;
            padding: 15rem 0;
            #hp-welcome-message{
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h1, h2{
                    font-weight: 400;
                    font-family: $handWritten;
                    line-height: 2;
                    letter-spacing: .5rem;
                    text-align: center;
                }
                h1{
                    font-size: 4rem;
                    width: 80%;
                    max-width: 100%;
                }
                h2{
                    font-size: 2rem;
                }
            }
            #hp-welcome-image{
                background-image: url("../img/home_page_pic.jpg");
                background-size: cover;
                width: 40%;
                height: 90rem;
                margin: 1rem auto;
                border: 2px solid $fontColor;
            }
        }
        #home-page-wrapper::after{
            content: "";
            width: 50%;
            position: absolute;
            bottom: 0;
            left: 25%;
            height: 2px;
            background-color: $fontColor;
        }
        /*--------HOME PAGE END----------*/
        #about-us-page-wrapper{
            position: relative;
            padding: 15rem 0;
            background-color: $mainColor;
            h1{
                text-transform: uppercase;
                letter-spacing: .3rem;
                text-align: center;
                display: flex;
                flex-direction: column;
            }
            h1::after{
                content: "";
                width: 8rem;
                height: .2rem;
                background-color: $fontColor;
                margin: .5rem auto;
            }
            .container{
                width: 80%;
                margin: 2rem auto;
                display: flex;
                .about-us-text{
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p{
                        font-size: 2.5rem;
                        width: 55rem;
                        line-height: 1.5;
                        letter-spacing: .4rem;
                        text-align: center;
                    }
                }
                .about-us-pic{
                    width: 60rem;
                    height: 90rem;
                    margin: 0 auto;
                    border: 1px solid $fontColor;
                    background-size: cover;
                    background-repeat: no-repeat; 
                }
                #about-us-first-pic{
                    background-image: url(../img/about_us_wine.jpg);
                }
                #about-us-second-pic{
                    background-image: url(../img/about_us_food.jpg);
                    height: 40rem;
                }
                #about-us-third-pic{
                    background-image: url(../img/about_us_coffe.jpg);
                }
            }
        }
        #about-us-page-wrapper::after{
            content: "";
            width: 50%;
            position: absolute;
            bottom: 0;
            left: 25%;
            height: 2px;
            background-color: $fontColor;
        }
        /*--------ABOUT US PAGE END----------*/
        #gallery-wrapper{
            width: 100%;
            height: 90rem;
            background-color: $mainColor;
            padding: 15rem 0;
            h1{
                text-transform: uppercase;
                letter-spacing: .3rem;
                text-align: center;
                display: flex;
                flex-direction: column;
            }
            h1::after{
                content: "";
                width: 8rem;
                height: .2rem;
                background-color: $fontColor;
                margin: .5rem auto;
            }

            @import "carousel";
        }
    }
    /*-------MAIN SECTION END--------*/
    footer{
        height: 20rem;
        width: 100%;
        background-color: $mainColor;
        padding: 5rem 0;
        .footer-info{
            width: 50%;
            margin: 0 auto;
            font-size: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            address{
                font-style: normal;
                margin: 0;
                width: 33%;
                text-align: right;
            }
            .footer-logo{
                background-image: url(../img/logo.svg);
                width: 34%;
                height: 7rem;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                margin: 0;
            }
            .footer-contact-info{
                font-size: 3rem;
                margin: 0;
                width: 33%;
            }
        }
        #footer-social-network{
            width: 50%;
            margin: 2rem auto;
            text-align: center;
            a{
                margin: 0 2rem;
                font-size: 3rem;
            }
        }
    }
}
@keyframes carousel-animation {
    0%{
        -webkit-transform: translateZ(-90rem) rotate3d(0,1,0,0deg);
        -moz-transform: translateZ(-90rem) rotate3d(0,1,0,0deg);
        -ms-transform: translateZ(-90rem) rotate3d(0,1,0,0deg);
        -o-transform: translateZ(-90rem) rotate3d(0,1,0,0deg);
        transform: translateZ(-90rem) rotate3d(0,1,0,0deg);
    }
    12.5%{
        -webkit-transform: translateZ(-90rem) rotate3d(0,1,0,45deg);
        -moz-transform: translateZ(-90rem) rotate3d(0,1,0,45deg);
        -ms-transform: translateZ(-90rem) rotate3d(0,1,0,45deg);
        -o-transform: translateZ(-90rem) rotate3d(0,1,0,45deg);
        transform: translateZ(-90rem) rotate3d(0,1,0,45deg);
    }
    25%{
        -webkit-transform: translateZ(-90rem) rotate3d(0,1,0,90deg);
        -moz-transform: translateZ(-90rem) rotate3d(0,1,0,90deg);
        -ms-transform: translateZ(-90rem) rotate3d(0,1,0,90deg);
        -o-transform: translateZ(-90rem) rotate3d(0,1,0,90deg);
        transform: translateZ(-90rem) rotate3d(0,1,0,90deg);
    }
    37.5%{
        -webkit-transform: translateZ(-90rem) rotate3d(0,1,0,135deg);
        -moz-transform: translateZ(-90rem) rotate3d(0,1,0,135deg);
        -ms-transform: translateZ(-90rem) rotate3d(0,1,0,135deg);
        -o-transform: translateZ(-90rem) rotate3d(0,1,0,135deg);
        transform: translateZ(-90rem) rotate3d(0,1,0,135deg);
    }
    50%{
        -webkit-transform: translateZ(-90rem) rotate3d(0,1,0,180deg);
        -moz-transform: translateZ(-90rem) rotate3d(0,1,0,180deg);
        -ms-transform: translateZ(-90rem) rotate3d(0,1,0,180deg);
        -o-transform: translateZ(-90rem) rotate3d(0,1,0,180deg);
        transform: translateZ(-90rem) rotate3d(0,1,0,180deg);
    }
    62.5%{
        -webkit-transform: translateZ(-90rem) rotate3d(0,1,0,225deg);
        -moz-transform: translateZ(-90rem) rotate3d(0,1,0,225deg);
        -ms-transform: translateZ(-90rem) rotate3d(0,1,0,225deg);
        -o-transform: translateZ(-90rem) rotate3d(0,1,0,225deg);
        transform: translateZ(-90rem) rotate3d(0,1,0,225deg);
    }
    75%{
        -webkit-transform: translateZ(-90rem) rotate3d(0,1,0,270deg);
        -moz-transform: translateZ(-90rem) rotate3d(0,1,0,270deg);
        -ms-transform: translateZ(-90rem) rotate3d(0,1,0,270deg);
        -o-transform: translateZ(-90rem) rotate3d(0,1,0,270deg);
        transform: translateZ(-90rem) rotate3d(0,1,0,270deg);
    }
    87.5%{
        -webkit-transform: translateZ(-90rem) rotate3d(0,1,0,315deg);
        -moz-transform: translateZ(-90rem) rotate3d(0,1,0,315deg);
        -ms-transform: translateZ(-90rem) rotate3d(0,1,0,315deg);
        -o-transform: translateZ(-90rem) rotate3d(0,1,0,315deg);
        transform: translateZ(-90rem) rotate3d(0,1,0,315deg);
    }
    100%{
        -webkit-transform: translateZ(-90rem) rotate3d(0,1,0,360deg);
        -moz-transform: translateZ(-90rem) rotate3d(0,1,0,360deg);
        -ms-transform: translateZ(-90rem) rotate3d(0,1,0,360deg);
        -o-transform: translateZ(-90rem) rotate3d(0,1,0,360deg);
        transform: translateZ(-90rem) rotate3d(0,1,0,360deg);
    }
}