@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Raleway:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
  font-size: 62.5%;
  color: #ab9178; }
  * a {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: #ab9178;
    font-size: 1.6rem; }
  * h1 {
    font-size: 4rem; }
  * h2 {
    font-size: 3rem; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #333333;
  /*-------------HEADER END------------------------*/
  /*-------MAIN SECTION END--------*/ }
  body header {
    height: 30rem;
    background-color: #333333;
    opacity: 1; }
    body header #logo-header {
      padding-top: 2rem;
      text-align: center; }
    body header .main-nav ul {
      display: flex;
      justify-content: center;
      margin: 2.5rem 0;
      padding: 0; }
      body header .main-nav ul li {
        display: block;
        margin: 0 1.5rem; }
        body header .main-nav ul li a {
          font-size: 3rem;
          padding: .5rem;
          border-radius: .5rem;
          -webkit-transition: 400ms;
          -moz-transition: 400ms;
          -ms-transition: 400ms;
          -o-transition: 400ms;
          transition: 400ms; }
        body header .main-nav ul li a:hover {
          color: #333333;
          background-color: #ab9178; }
    body header .burger {
      display: none; }
    body header .mobile-nav {
      display: none; }
  body header.active {
    height: 13rem;
    background-color: #ab9178;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0rem 0rem 1rem 1rem;
    opacity: .9; }
    body header.active #logo-header {
      width: 25rem;
      height: 100%;
      padding: 0;
      background-image: url(../img/logo_dark.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; }
      body header.active #logo-header a {
        display: block;
        width: 100%;
        height: 100%; }
        body header.active #logo-header a img {
          display: none; }
    body header.active .main-nav a {
      color: #333333; }
    body header.active .main-nav a:hover {
      color: #ab9178;
      background-color: #333333; }
  body .main-wrapper {
    /*--------HOME PAGE END----------*/
    /*--------ABOUT US PAGE END----------*/ }
    body .main-wrapper .page-title {
      text-transform: uppercase;
      letter-spacing: .3rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      font-family: "Dancing Script", cursive; }
    body .main-wrapper .page-title::after {
      content: "";
      width: 8rem;
      height: .2rem;
      background-color: #ab9178;
      margin: .5rem auto; }
    body .main-wrapper #home-page-wrapper {
      position: relative; }
      body .main-wrapper #home-page-wrapper #hp-welcome-message {
        width: 100%;
        height: 91rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 1;
        background: -moz-linear-gradient(180deg, #333333 3%, rgba(51, 51, 51, 0.8) 33%, rgba(51, 51, 51, 0.8) 67%, #333333 97%);
        background: -webkit-linear-gradient(180deg, #333333 3%, rgba(51, 51, 51, 0.8) 33%, rgba(51, 51, 51, 0.8) 67%, #333333 97%);
        background: linear-gradient(180deg, #333333 3%, rgba(51, 51, 51, 0.8) 33%, rgba(51, 51, 51, 0.8) 67%, #333333 97%);
        position: relative;
        z-index: 1; }
        body .main-wrapper #home-page-wrapper #hp-welcome-message h1 {
          opacity: 0; }
        body .main-wrapper #home-page-wrapper #hp-welcome-message p {
          font-weight: 400;
          font-family: "Dancing Script", cursive;
          line-height: 2;
          letter-spacing: .5rem;
          text-align: center;
          width: 80%;
          margin: 0 auto;
          opacity: 0; }
        body .main-wrapper #home-page-wrapper #hp-welcome-message .hp-welcome-message-content {
          font-size: 4rem;
          width: 60%;
          max-width: 100%; }
        body .main-wrapper #home-page-wrapper #hp-welcome-message .hp-welcome-message-signature {
          font-size: 2rem; }
      body .main-wrapper #home-page-wrapper #hp-welcome-image {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 90rem;
        opacity: 0;
        background-image: url("../img/home_page_pic.png");
        background-size: cover;
        background-position: center; }
    body .main-wrapper #home-page-wrapper.active #hp-welcome-message p, body .main-wrapper #home-page-wrapper.active #hp-welcome-message h1 {
      opacity: 1;
      -webkit-transition: opacity 1s linear 300ms;
      -moz-transition: opacity 1s linear 300ms;
      -ms-transition: opacity 1s linear 300ms;
      -o-transition: opacity 1s linear 300ms;
      transition: opacity 1s linear 300ms; }
    body .main-wrapper #home-page-wrapper.active #hp-welcome-image {
      opacity: 1;
      -webkit-transition: opacity 1s linear;
      -moz-transition: opacity 1s linear;
      -ms-transition: opacity 1s linear;
      -o-transition: opacity 1s linear;
      transition: opacity 1s linear; }
    body .main-wrapper #home-page-wrapper::after {
      content: "";
      width: 50%;
      position: absolute;
      bottom: -5rem;
      left: 25%;
      height: 2px;
      background: none;
      background-color: #ab9178;
      z-index: 1; }
    body .main-wrapper #about-us-page-wrapper {
      position: relative;
      background-image: url("../img/about_us_background.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
      body .main-wrapper #about-us-page-wrapper .about-us-page-content {
        padding: 15rem 0;
        background: -moz-linear-gradient(180deg, #333333 3%, rgba(51, 51, 51, 0.8) 33%, rgba(51, 51, 51, 0.8) 67%, #333333 97%);
        background: -webkit-linear-gradient(180deg, #333333 3%, rgba(51, 51, 51, 0.8) 33%, rgba(51, 51, 51, 0.8) 67%, #333333 97%);
        background: linear-gradient(180deg, #333333 3%, rgba(51, 51, 51, 0.8) 33%, rgba(51, 51, 51, 0.8) 67%, #333333 97%); }
        body .main-wrapper #about-us-page-wrapper .about-us-page-content .container {
          width: 80%;
          margin: 2rem auto;
          display: flex; }
          body .main-wrapper #about-us-page-wrapper .about-us-page-content .container .about-us-text {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0; }
            body .main-wrapper #about-us-page-wrapper .about-us-page-content .container .about-us-text p {
              font-size: 2.5rem;
              width: 55rem;
              line-height: 1.5;
              letter-spacing: .4rem;
              text-align: center; }
          body .main-wrapper #about-us-page-wrapper .about-us-page-content .container .about-us-pic {
            width: 50rem;
            height: 60rem;
            margin: 0 auto;
            border: 1px solid #ab9178;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0; }
          body .main-wrapper #about-us-page-wrapper .about-us-page-content .container #about-us-first-pic {
            background-image: url(../img/about_us_wine.jpg); }
          body .main-wrapper #about-us-page-wrapper .about-us-page-content .container #about-us-second-pic {
            background-image: url(../img/about_us_food.jpg); }
          body .main-wrapper #about-us-page-wrapper .about-us-page-content .container #about-us-third-pic {
            background-image: url(../img/about_us_coffe.jpg); }
        body .main-wrapper #about-us-page-wrapper .about-us-page-content .container.active .about-us-pic {
          opacity: 1;
          -webkit-transition: opacity 800ms linear;
          -moz-transition: opacity 800ms linear;
          -ms-transition: opacity 800ms linear;
          -o-transition: opacity 800ms linear;
          transition: opacity 800ms linear; }
        body .main-wrapper #about-us-page-wrapper .about-us-page-content .container.active .about-us-text {
          opacity: 1;
          -webkit-transition: opacity 800ms linear 300ms;
          -moz-transition: opacity 800ms linear 300ms;
          -ms-transition: opacity 800ms linear 300ms;
          -o-transition: opacity 800ms linear 300ms;
          transition: opacity 800ms linear 300ms; }
    body .main-wrapper #about-us-page-wrapper::after {
      content: "";
      width: 50%;
      position: absolute;
      bottom: 0;
      left: 25%;
      height: 2px;
      background-color: #ab9178; }
    body .main-wrapper #gallery-wrapper {
      width: 100%;
      background-color: #333333;
      overflow: hidden;
      background-image: url("../img/gallery_background.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
      body .main-wrapper #gallery-wrapper .gallery-content {
        padding: 5rem 0;
        height: 90rem;
        background: -moz-linear-gradient(180deg, #333333 3%, rgba(51, 51, 51, 0.8) 23%, rgba(51, 51, 51, 0.8) 77%, #333333 97%);
        background: -webkit-linear-gradient(180deg, #333333 3%, rgba(51, 51, 51, 0.8) 23%, rgba(51, 51, 51, 0.8) 77%, #333333 97%);
        background: linear-gradient(180deg, #333333 3%, rgba(51, 51, 51, 0.8) 23%, rgba(51, 51, 51, 0.8) 77%, #333333 97%); }
        body .main-wrapper #gallery-wrapper .gallery-content h2 {
          text-align: center;
          font-weight: 400; }
        body .main-wrapper #gallery-wrapper .gallery-content #carousel-wrapper {
          width: 60rem;
          max-width: 100%;
          margin: 20rem auto;
          height: 42rem;
          position: relative;
          perspective: 150rem; }
          body .main-wrapper #gallery-wrapper .gallery-content #carousel-wrapper #carousel-container {
            -webkit-transform: translateZ(-90rem) rotate3d(0, 1, 0, 0deg);
            -moz-transform: translateZ(-90rem) rotate3d(0, 1, 0, 0deg);
            -ms-transform: translateZ(-90rem) rotate3d(0, 1, 0, 0deg);
            -o-transform: translateZ(-90rem) rotate3d(0, 1, 0, 0deg);
            transform: translateZ(-90rem) rotate3d(0, 1, 0, 0deg);
            transform-style: preserve-3d;
            -webkit-animation: carousel-animation 24s ease-in-out infinite 1s;
            -moz-animation: carousel-animation 24s ease-in-out infinite 1s;
            -ms-animation: carousel-animation 24s ease-in-out infinite 1s;
            -o-animation: carousel-animation 24s ease-in-out infinite 1s;
            animation: carousel-animation 24s ease-in-out infinite 1s; }
            body .main-wrapper #gallery-wrapper .gallery-content #carousel-wrapper #carousel-container .carousel-image {
              width: 60rem;
              max-width: 100%;
              height: 42rem;
              border-radius: 10px;
              position: absolute;
              opacity: 1;
              background-size: cover;
              background-repeat: no-repeat;
              -webkit-transition: transform 200ms linear;
              -moz-transition: transform 200ms linear;
              -ms-transition: transform 200ms linear;
              -o-transition: transform 200ms linear;
              transition: transform 200ms linear;
              opacity: .95; }
            body .main-wrapper #gallery-wrapper .gallery-content #carousel-wrapper #carousel-container #image1 {
              background-image: url(../img/Carousel/img1.jpg);
              -webkit-transform: rotateY(0deg) translateZ(90rem);
              -moz-transform: rotateY(0deg) translateZ(90rem);
              -ms-transform: rotateY(0deg) translateZ(90rem);
              -o-transform: rotateY(0deg) translateZ(90rem);
              transform: rotateY(0deg) translateZ(90rem); }
            body .main-wrapper #gallery-wrapper .gallery-content #carousel-wrapper #carousel-container #image2 {
              background-image: url(../img/Carousel/img2.jpg);
              -webkit-transform: rotateY(45deg) translateZ(90rem);
              -moz-transform: rotateY(45deg) translateZ(90rem);
              -ms-transform: rotateY(45deg) translateZ(90rem);
              -o-transform: rotateY(45deg) translateZ(90rem);
              transform: rotateY(45deg) translateZ(90rem); }
            body .main-wrapper #gallery-wrapper .gallery-content #carousel-wrapper #carousel-container #image3 {
              background-image: url(../img/Carousel/img3.jpg);
              -webkit-transform: rotateY(90deg) translateZ(90rem);
              -moz-transform: rotateY(90deg) translateZ(90rem);
              -ms-transform: rotateY(90deg) translateZ(90rem);
              -o-transform: rotateY(90deg) translateZ(90rem);
              transform: rotateY(90deg) translateZ(90rem); }
            body .main-wrapper #gallery-wrapper .gallery-content #carousel-wrapper #carousel-container #image4 {
              background-image: url(../img/Carousel/img4.jpg);
              -webkit-transform: rotateY(135deg) translateZ(90rem);
              -moz-transform: rotateY(135deg) translateZ(90rem);
              -ms-transform: rotateY(135deg) translateZ(90rem);
              -o-transform: rotateY(135deg) translateZ(90rem);
              transform: rotateY(135deg) translateZ(90rem); }
            body .main-wrapper #gallery-wrapper .gallery-content #carousel-wrapper #carousel-container #image5 {
              background-image: url(../img/Carousel/img5.jpg);
              -webkit-transform: rotateY(180deg) translateZ(90rem);
              -moz-transform: rotateY(180deg) translateZ(90rem);
              -ms-transform: rotateY(180deg) translateZ(90rem);
              -o-transform: rotateY(180deg) translateZ(90rem);
              transform: rotateY(180deg) translateZ(90rem); }
            body .main-wrapper #gallery-wrapper .gallery-content #carousel-wrapper #carousel-container #image6 {
              background-image: url(../img/Carousel/img6.jpg);
              -webkit-transform: rotateY(225deg) translateZ(90rem);
              -moz-transform: rotateY(225deg) translateZ(90rem);
              -ms-transform: rotateY(225deg) translateZ(90rem);
              -o-transform: rotateY(225deg) translateZ(90rem);
              transform: rotateY(225deg) translateZ(90rem); }
            body .main-wrapper #gallery-wrapper .gallery-content #carousel-wrapper #carousel-container #image7 {
              background-image: url(../img/Carousel/img7.jpg);
              -webkit-transform: rotateY(270deg) translateZ(90rem);
              -moz-transform: rotateY(270deg) translateZ(90rem);
              -ms-transform: rotateY(270deg) translateZ(90rem);
              -o-transform: rotateY(270deg) translateZ(90rem);
              transform: rotateY(270deg) translateZ(90rem); }
            body .main-wrapper #gallery-wrapper .gallery-content #carousel-wrapper #carousel-container #image8 {
              background-image: url(../img/Carousel/img8.jpg);
              -webkit-transform: rotateY(315deg) translateZ(90rem);
              -moz-transform: rotateY(315deg) translateZ(90rem);
              -ms-transform: rotateY(315deg) translateZ(90rem);
              -o-transform: rotateY(315deg) translateZ(90rem);
              transform: rotateY(315deg) translateZ(90rem); }
          body .main-wrapper #gallery-wrapper .gallery-content #carousel-wrapper #carousel-container:hover {
            animation-play-state: paused; }
  body footer {
    height: 20rem;
    width: 100%;
    background-color: #333333;
    padding: 5rem 0; }
    body footer .footer-info {
      width: 100%;
      margin: 0 auto;
      font-size: 3rem;
      display: flex;
      justify-content: center;
      align-items: center; }
      body footer .footer-info address {
        font-style: normal;
        margin: 0;
        width: 33%;
        text-align: right; }
      body footer .footer-info .footer-logo {
        background-image: url(../img/logo.svg);
        width: 34%;
        height: 7rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0; }
      body footer .footer-info .footer-contact-info {
        font-size: 3rem;
        margin: 0;
        width: 33%; }
    body footer #footer-social-network {
      width: 50%;
      margin: 2rem auto;
      text-align: center; }
      body footer #footer-social-network a {
        margin: 0 2rem;
        font-size: 3rem; }

@keyframes carousel-animation {
  0% {
    -webkit-transform: translateZ(-90rem) rotate3d(0, 1, 0, 0deg);
    -moz-transform: translateZ(-90rem) rotate3d(0, 1, 0, 0deg);
    -ms-transform: translateZ(-90rem) rotate3d(0, 1, 0, 0deg);
    -o-transform: translateZ(-90rem) rotate3d(0, 1, 0, 0deg);
    transform: translateZ(-90rem) rotate3d(0, 1, 0, 0deg); }
  12.5% {
    -webkit-transform: translateZ(-90rem) rotate3d(0, 1, 0, 45deg);
    -moz-transform: translateZ(-90rem) rotate3d(0, 1, 0, 45deg);
    -ms-transform: translateZ(-90rem) rotate3d(0, 1, 0, 45deg);
    -o-transform: translateZ(-90rem) rotate3d(0, 1, 0, 45deg);
    transform: translateZ(-90rem) rotate3d(0, 1, 0, 45deg); }
  25% {
    -webkit-transform: translateZ(-90rem) rotate3d(0, 1, 0, 90deg);
    -moz-transform: translateZ(-90rem) rotate3d(0, 1, 0, 90deg);
    -ms-transform: translateZ(-90rem) rotate3d(0, 1, 0, 90deg);
    -o-transform: translateZ(-90rem) rotate3d(0, 1, 0, 90deg);
    transform: translateZ(-90rem) rotate3d(0, 1, 0, 90deg); }
  37.5% {
    -webkit-transform: translateZ(-90rem) rotate3d(0, 1, 0, 135deg);
    -moz-transform: translateZ(-90rem) rotate3d(0, 1, 0, 135deg);
    -ms-transform: translateZ(-90rem) rotate3d(0, 1, 0, 135deg);
    -o-transform: translateZ(-90rem) rotate3d(0, 1, 0, 135deg);
    transform: translateZ(-90rem) rotate3d(0, 1, 0, 135deg); }
  50% {
    -webkit-transform: translateZ(-90rem) rotate3d(0, 1, 0, 180deg);
    -moz-transform: translateZ(-90rem) rotate3d(0, 1, 0, 180deg);
    -ms-transform: translateZ(-90rem) rotate3d(0, 1, 0, 180deg);
    -o-transform: translateZ(-90rem) rotate3d(0, 1, 0, 180deg);
    transform: translateZ(-90rem) rotate3d(0, 1, 0, 180deg); }
  62.5% {
    -webkit-transform: translateZ(-90rem) rotate3d(0, 1, 0, 225deg);
    -moz-transform: translateZ(-90rem) rotate3d(0, 1, 0, 225deg);
    -ms-transform: translateZ(-90rem) rotate3d(0, 1, 0, 225deg);
    -o-transform: translateZ(-90rem) rotate3d(0, 1, 0, 225deg);
    transform: translateZ(-90rem) rotate3d(0, 1, 0, 225deg); }
  75% {
    -webkit-transform: translateZ(-90rem) rotate3d(0, 1, 0, 270deg);
    -moz-transform: translateZ(-90rem) rotate3d(0, 1, 0, 270deg);
    -ms-transform: translateZ(-90rem) rotate3d(0, 1, 0, 270deg);
    -o-transform: translateZ(-90rem) rotate3d(0, 1, 0, 270deg);
    transform: translateZ(-90rem) rotate3d(0, 1, 0, 270deg); }
  87.5% {
    -webkit-transform: translateZ(-90rem) rotate3d(0, 1, 0, 315deg);
    -moz-transform: translateZ(-90rem) rotate3d(0, 1, 0, 315deg);
    -ms-transform: translateZ(-90rem) rotate3d(0, 1, 0, 315deg);
    -o-transform: translateZ(-90rem) rotate3d(0, 1, 0, 315deg);
    transform: translateZ(-90rem) rotate3d(0, 1, 0, 315deg); }
  100% {
    -webkit-transform: translateZ(-90rem) rotate3d(0, 1, 0, 360deg);
    -moz-transform: translateZ(-90rem) rotate3d(0, 1, 0, 360deg);
    -ms-transform: translateZ(-90rem) rotate3d(0, 1, 0, 360deg);
    -o-transform: translateZ(-90rem) rotate3d(0, 1, 0, 360deg);
    transform: translateZ(-90rem) rotate3d(0, 1, 0, 360deg); } }
@keyframes header-animation {
  from {
    height: 0rem;
    opacity: 0; }
  to {
    height: 30rem;
    opacity: 1; } }
@keyframes sticky-header-animation {
  0% {
    height: 0;
    opacity: 0; }
  25% {
    height: 4rem;
    opacity: 0; }
  50% {
    height: 8rem;
    opacity: 0; }
  75% {
    height: 13rem;
    opacity: .5; }
  100% {
    height: 13rem;
    opacity: 0.95; } }
@keyframes line1-animation {
  from {
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg); }
  to {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg); } }
@keyframes line3-animation {
  from {
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg); }
  to {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg); } }
@keyframes burger-line1-animation-active {
  from {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg); }
  to {
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg); } }
@keyframes burger-line3-animation-active {
  from {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg); }
  to {
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg); } }
@media only screen and (min-width: 300px) and (max-width: 1600px) {
  body .main-wrapper #about-us-page-wrapper .container {
    width: 100%; } }

/*# sourceMappingURL=main.css.map */
