$mainColor: rgba(51, 51, 51, 1);
$fontColor: rgba(171, 145, 120, 1);
*{
    font-size: 40%;
}
body{
    @import "../partials/header_mobile";
    .main-wrapper{
        padding-top: 15rem;
        #home-page-wrapper{
            flex-direction: column-reverse;
            #hp-welcome-image{
                width: 98%;
                opacity: 1;
                height: 100%;  
            }
            #hp-welcome-message{
                width: 100%;
                height: auto;
                .hp-welcome-message-content{
                    width: 95%;
                }
            }
        }
        #about-us-page-wrapper{
            .about-us-page-content{
                .container{
                    flex-direction: column;
                    margin: 5rem auto;
                    .about-us-text{
                        margin: 0 2%;
                        width: 96%;
                    }
                    .about-us-pic{
                        width: 98%;
                    }
                }
                .container.active{
                    .about-us-text{
                        transition-delay: 0s;
                    }
                }
                .second-line-content{
                    flex-direction: column-reverse;
                }
            }
        }
        #gallery-wrapper{
            .gallery-content{
                h2{
                    margin: 0 2rem;
                }
            }
        }
    }
    @import "../partials/footer_mobile";
}